<div class="container">

    <form [formGroup]="CustomerForm" (ngSubmit)="this[EventValue]()">

        <h3>Customer CRUD Operation</h3>
        <div class="row">

            <table class="table">
                <tr>
                    <td>Name</td>
                    <td>
                        <input type="hidden" formControlName="customerId">
                        <input type="text" formControlName="name">
                        <div *ngIf="submitted && CustomerForm.controls.name.errors" class="text-danger">
                            <div *ngIf="CustomerForm.controls.name.errors.required">Name is required</div>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>Email</td>
                    <td><input type="text" formControlName="email">
                        <div *ngIf="submitted && CustomerForm.controls.email.errors" class="text-danger">
                            <div *ngIf="CustomerForm.controls.email.errors.required">Email is required</div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Password</td>
                    <td>
                        <input type="password" formControlName="password">
                        <div *ngIf="submitted && CustomerForm.controls.password.errors" class="text-danger">
                            <div *ngIf="CustomerForm.controls.password.errors.required">Password is required</div>
                        </div>
                    </td>
                </tr>
                <tr>

                    <td colspan="2">
                        <button type="submit" class="btn btn-primary">{{EventValue}}</button>
                    </td>
                </tr>

            </table>
        </div>

        <div class="row">
            <table class="table table-striped">
                <tr>
                    <td>Id</td>
                    <td>Name</td>

                    <td>Email</td>
                    <td>Edit</td>
                    <td>Delete</td>
                </tr>

                <tr *ngFor="let d of data">
                    <td>{{d.customerId}}</td>
                    <td>{{d.name}}</td>

                    <td>{{d.email}}</td>
                    <td><a (click)="EditData(d)" class="btn btn-warning">Edit</a></td>
                    <td><a (click)="deleteData(d.customerId)" class="btn btn-danger">Delete</a></td>
                </tr>
            </table>
        </div>
    </form>

</div>